{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=East+Sea+Dokdo&family=Potta+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <noscript>
        <strong
          >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
          properly without JavaScript enabled. Please enable it to
          continue.</strong
        >
      </noscript>

      <div id="links">
        <ul id="mainNav">
          <li><a href="http://localhost:8000/" title="Homepage">Home</a></li>
          <li>
            <a id="groups" href="#bands" title="Show | Hide">Bands</a>
          </li>
          <li class="gallery-li">
            <a class="gallery-a" title="Sorry, this part is developing">Gallery</a>
          </li class="gallery-li">
          <li><a class="gallery-a" title="Sorry, this part is developing">About service</a></li>
        </ul>
        <ul id="linksToUs">
          <li>
            <button type="button" class="btn btn-light" title="GitHub">
              <a href="https://github.com/moon-light-night" target="__blank" style="color: black"
                ><img src="{% static 'icons/github-logo_icon-icons.com_73546.ico' %}" 
              /></a>
            </button>
          </li>
        </ul>
      </div>

      <div id="app"></div>
      <!-- built files will be auto injected -->

      <div></div>

      <div id="stuffs">
        <p id="leftStuff">any stuff</p>
        <p id="rightStuff">nmtr shit</p>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
